version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: easy_employee_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: easy_employee_backend
    ports:
      - "5500:5500"
    environment:
      - PORT=5500
      - DB_URL=mongodb://mongo:27017/easy_employee
      - CLIENT_URL=http://localhost:3000
    volumes:
      - ./backend/storage:/app/storage
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: easy_employee_frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BASE_URL=http://localhost:5500/api
    depends_on:
      - backend

volumes:
  mongo-data:
